* {
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #E5E5E5;
    font-style: italic;
}

.login-screen{
    height: 100%;
    width: 100%;
    background-color: #E5E5E5;
    z-index: 3;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}

.login-screen img{
    height: 92px;
    width: 130px;
}

.login-screen input{
    height: 54px;
    width: 261px;
    margin-top: 94px;
    margin-bottom: 15px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    text-align:center;
    font-size: 18px;
}

::placeholder { 
    color: #AEAEAE;
    opacity: 1; /* Firefox */
    font-family: 'Roboto', sans-serif;
  }

.login-screen button{
    height: 45px;
    width: 109px;
    font-size: 18px;
    color: #696969;
    margin-bottom: 20px;
}

.login-screen span{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: black;
}

.site-header {
    box-sizing:border-box;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background: #FFFFFF;
    padding: 0 22px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;
}

header img{
    height: 53px;
    width: 75px;
}

header ion-icon {
    font-size: 50px;
}

.message-section{
    box-sizing:border-box;
    padding: 105px 0;
}

.message{
    width: 100%;
    box-sizing: border-box;
    padding: 8px 8px;
    font-size: 14px;
    border-radius: 2px;
    background-color: #FFFFFF;
    margin: 4px 0;;
}

.message b{
    font-weight: bold;
}

.message span{
    color: #9B9B9B;
}

.status{
    background-color: #DCDCDC;
}

.private{
    background-color: #FFDEDE;
}

.site-footer {
    box-sizing:border-box;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background: #FFFFFF;
    padding: 0 18px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 2;
}

footer input {
    border: none;
    font-size: 18px;
    font-style: italic;
}

input:focus {
    outline: none;
    border: none;
    font-style: normal;
  }

footer ion-icon{
    font-size: 30px;
}

.hidden{
    display: none;
}